rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth.uid != null;
    }
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    function isBookAccessible(bookId) {
			let userData = getUserData();
      return userData.owned_book_ids.hasAny([bookId]) || userData.shared_book_ids.hasAny([bookId]);
    }
    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }
    match /books/{bookId} {
      allow read, write: if isSignedIn() && isBookAccessible(bookId);
    }
  }
}
